@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins-Regular";
}
.columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.col-left{
    
    background: #0a272c;
    position: relative;
}
.topbar{
    margin-bottom: 2rem;
    padding: 2rem 9rem 2rem 11rem;
}
.col-left .topbar h1{
    color: #fff;
    margin-bottom: 2rem;
}
.col-left p{
    margin-bottom: 3rem;
    color: #fff;
    font-weight: normal;
}
.box{
    background: #ddad58;
    width: 300px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h1{
    color: #fff;
}
.col-right{
    background: #b5b5b5;
}